.pitches_container {
  width: 80%;
  padding: 30px 20px;
  margin: 0 auto;
  display: block;
  align-items: center;
}
.heading_pitch {
  color: var(--darkGreen);
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  display: block;
  font-size: 40px;
  font-weight: 600;
}
.pitches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  grid-column-gap: 10px;
}
.pitch_card {
  width: 370px;
  height: 450px;
  box-shadow: var(--boxShadow);
  border-radius: 15px;
  margin-bottom: 50px;
}
.pitch_card:hover {
  cursor: pointer;
}
.pitch_card img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.pitch_content {
  padding: 20px 10px;
}
.title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.title span {
  color: var(--green);
  font-weight: 600;
  /* font-family: Poppins; */
}
.title p {
  font-weight: 500;
}
.title h3 {
  font-weight: 600;
  color: var(--darkGreen);
}
.description {
  font-weight: 500;
  padding: 15px 0;
  line-height: 1.6;
}
.pitch_btn {
  background-color: var(--green);
  cursor: pointer;
  width: 100%;
  border: none;
  font-size: 19px;
  font-weight: 600;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;

  /* margin-bottom: 10px; */
}
